################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/programacionspagueti/programacionspagueti/bin/Debug/net6.0
/.vs
/programacionspagueti/programacionspagueti/obj
/programacionspagueti/.vs/programacionspagueti
/Clases/.vs/Clases
/Clases/Clases/bin/Debug/net6.0
/Clases/Clases/obj
/Polimorfismo/.vs/Polimorfismo/v17
/Polimorfismo/Polimorfismo/bin/Debug/net6.0
/Polimorfismo/Polimorfismo/obj
